{% extends "base.html" %}

{% block extrahead %}
<style>
    table {
      margin-top: 10px;
    }
    a:link { color: #000000; }
    a:visited { color: #000000; }
    a:hover { color: #000000; }
    a:active { color: #000000; }
</style>
{% endblock %}

{% block body %}
    <h3 class="page-header">Blog</h3>
    <div align="center">
        {% for blog in blog.all %}
            <li>
                <a href="blog/{{ blog.id}}"><span style="font-size: 28px;">{{ blog.title }}</span> : [{{ blog.created_at}}]</a>
            </li>
        {% endfor %}
    </div>
{% endblock %}
