{% extends "base.html" %}

{% block extrahead %}
<style>
    table {
      margin-top: 10px;
    }
    a:link { color: #000000; }
    a:visited { color: #000000; }
    a:hover { color: #000000; }
    a:active { color: #000000; }
</style>
{% endblock %}

{% block body %}
    <br>
    <h1 class="page-header">Blog</h1>
    <div align="center">
        <div class="list-group" style="width: 400px;">
             {% for blog in blog.all %}
                 <a href="blog/{{ blog.id}}" class="list-group-item" style="width: 400px;">{{ blog.title }} : [{{ blog.created_at}}]</a>
             {% endfor %}
        </div>
    </div>
{% endblock %}
